## Basic Data Types

1. Integer
2. string
3. float
4. boolean

## 4. Booleans

In [ ]:
a=10
b=12
print(a==b)
print(type(a==b))

## Advance Data Types

1. List/Array ex. lst=["name", 1, 2, 3.4,True] (it can contain all kind of data types inside it. it behaves like array)
2. Tuples ex. tuple=("name", 1, 2, 3.4,True) (Almost same as List)
3. Sets ex. set={"name", 1, 2, 3.4,True} (Set of unique items)
4. Dictionaries

## 1. List

In [38]:
lst=["Md.", "Istiak", "Mondol","DOB->","13-2-2001","Height->",5.7,"Student->",True]
print(lst[1])
print(lst)
print(lst[1:])
print(lst[0:3])
print(lst[0:9:1])
print(lst[-1])
print(lst[-1:0:-1])

Istiak
['Md.', 'Istiak', 'Mondol', 'DOB->', '13-2-2001', 'Height->', 5.7, 'Student->', True]
['Istiak', 'Mondol', 'DOB->', '13-2-2001', 'Height->', 5.7, 'Student->', True]
['Md.', 'Istiak', 'Mondol']
['Md.', 'Istiak', 'Mondol', 'DOB->', '13-2-2001', 'Height->', 5.7, 'Student->', True]
True
[True, 'Student->', 5.7, 'Height->', '13-2-2001', 'DOB->', 'Mondol', 'Istiak']

## Modifying the list elements

In [40]:
lst=["Md.", "Istiak", "Mondol","DOB->","13-2-2001","Height->",5.7,"Student->",True]
lst[2]="Nayem"
print(lst)

['Md.', 'Istiak', 'Nayem', 'DOB->', '13-2-2001', 'Height->', 5.7, 'Student->', True]

In [41]:
fruits=["Apple", "Banana", "Cherry", "Kiwi"]
print(fruits)
fruits.append("Orange") ## it will add orange at the end of the list
print(fruits)

['Apple', 'Banana', 'Cherry', 'Kiwi']
['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [42]:
fruits.insert(1,"Banana") ## it will insert item at the mentioned position in the list
print(fruits)
fruits.insert(1,"Watermalon") ## it will insert item at the mentioned position in the list
print(fruits)

['Apple', 'Banana', 'Banana', 'Cherry', 'Kiwi', 'Orange']
['Apple', 'Watermalon', 'Banana', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [43]:
fruits.remove("Banana") ## it will remove that particular string from the list
print(fruits)

['Apple', 'Watermalon', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [44]:
popped_fruits=fruits.pop() ## it will remove and return the last element from the list
print(popped_fruits)
print(fruits)

Orange
['Apple', 'Watermalon', 'Banana', 'Cherry', 'Kiwi']

In [ ]:
print(fruits.count("Banana")) ## it will count the exact number of that item

['Apple', 'Watermalon', 'Banana', 'Banana', 'Cherry', 'Kiwi']
2

In [53]:
fruits.sort() ## it will sort the items of a list alphabatical order
print(fruits)

['Apple', 'Banana', 'Banana', 'Cherry', 'Kiwi', 'Watermalon']

In [54]:
fruits.reverse() ## it will reverse the list
print(fruits)

['Watermalon', 'Kiwi', 'Cherry', 'Banana', 'Banana', 'Apple']

In [55]:
fruits.clear() ## it will empty the list
print(fruits)

[]

##Slicing list

In [56]:
num=[1,2,3,4,5,6,7,8,9]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]

##iterating over list

In [58]:

name=["md","istiak","mondol","nayem","nahid","ragib"]
print(name)
name.sort()
print(name)

for i in name:
    print(i)

['md', 'istiak', 'mondol', 'nayem', 'nahid', 'ragib']
['istiak', 'md', 'mondol', 'nahid', 'nayem', 'ragib']
istiak
md
mondol
nahid
nayem
ragib

In [59]:
for index,i in enumerate(name): # iterate with index also
    print(index,i)

0 istiak
1 md
2 mondol
3 nahid
4 nayem
5 ragib

In [60]:
lst=["md","istiak","mondol","nayem","nahid","ragib"]
length=[]
for i in lst:
    length.append(len(i))
print(length)

[2, 6, 6, 5, 5, 5]

In [61]:
lst2=[]
for i in range(1,11):
    if i%2==0 :
        lst2.append(i)
print(lst2)

[2, 4, 6, 8, 10]

Nasted list

In [ ]:
lst=[[1,2,3,4],[1,"hello","c"],[1.5,"hdcb",4,True]]
print(lst[0][3])
print(lst[2][:2:1])

## 2. Tuples

In [62]:
numbers=(1,1,2,3,4,5,6,7,8)
print(type(numbers))
mixed_tuple=("Md", "Istiak", "mondol", 5, 6, 7, False)
print(type(mixed_tuple))
concate_tuple= numbers + mixed_tuple ##add two tuples
print(type(concate_tuple))
print(concate_tuple)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
(1, 1, 2, 3, 4, 5, 6, 7, 8, 'Md', 'Istiak', 'mondol', 5, 6, 7, False)

    -Emmutable Nature of Tuples, it means once an element assigned, it can't be changed.
    -The procedure of changing an element from tuple is (tuple-> list[make changes with element]-> Tuple) 
    -numbers=(1,1,2,3,4,5,6,7,8) Here, numbers[1]="name" -> this will give you error (here number is a tuple)
    -Example given bellow

In [ ]:
numbers=(1,1,2,3,4,5,6,7,8)
print(type(numbers))
print(numbers)
lst_cnv=list(numbers) #Tuples convert into List
print(type(lst_cnv))
lst_cnv.insert(1,"Istiak") #insert Istiak into the list
numbers=tuple(lst_cnv)
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 1, 2, 3, 4, 5, 6, 7, 8)
<class 'list'>
<class 'tuple'>
(1, 'Istiak', 1, 2, 3, 4, 5, 6, 7, 8)

# Touple Method

In [64]:
numbers=(1,1,2,3,4,5,6,7,8)
print(numbers.count(1)) ## it will count the appearance of that item in the touple
print(numbers.index(3)) ## it will show the item at the mentioned index

2
3

packing Touple

In [66]:
packed_tuple=1,"Hello",3.14
print(type(packed_tuple))
print(packed_tuple)

<class 'tuple'>
(1, 'Hello', 3.14)

Unpacking Touple

In [ ]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

unpacking Touple using star

In [67]:
num=(1,2,3,4,5,6)
first,*middle,last=num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

Nasted tuples

In [69]:
nested_tuples=((1,2,3),("a","b","c"),(True,False))
print(nested_tuples[0][::-1])
print(nested_tuples[1][::-1])

(3, 2, 1)
('c', 'b', 'a')

iterating over tuples through loop

In [70]:
for i in nested_tuples:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
a b c
True False

## Set

create a set

In [71]:
my_set={1,2,3,4,5,6,7,"istiak"}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 'istiak'}

create empty set

In [72]:
my_empty_set=set()
print(type(my_empty_set))
print(my_empty_set)

<class 'set'>
set()

basic operation of set

In [74]:
empty_set=set([1,2,3,4,5])
print(type(empty_set))
print(empty_set)

<class 'set'>
{1, 2, 3, 4, 5}

duplicate element of set

In [75]:
empty_set=set([1,2,3,4,5,3,2,4])
print(empty_set)

{1, 2, 3, 4, 5}

Adding element

In [79]:
my_set={1,2,3,4,5,6,7,"istiak"}
my_set.add("Mondol")
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 'Mondol', 'istiak'}

Removing elements

In [80]:
my_set={1,2,3,4,5,6,7,"istiak"}
my_set.remove("istiak")
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

Won't give error if the element is not present there

In [81]:
my_set={1,2,3,4,5,6,7,"istiak"}
my_set.discard(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 'istiak'}

Removing elements using pop method

In [82]:
my_set={1,2,3,4,5,6,7,"istiak"}
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5, 6, 7, 'istiak'}

clear all the elements

In [83]:
my_set.clear()
print(my_set)

set()

# set membership test

In [85]:
my_set={1,2,3,4,5}
print(3 in my_set)
print(9 in my_set)

True
False

# Mathematical operation

In [87]:
my_set={1,2,3,4,5,6}
my_set2={3,4,5,6,7,8,9}

Union

In [95]:
union_set=my_set.union(my_set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7}

Intersection

In [89]:
intersection_set=my_set.intersection(my_set2)
print(intersection_set)

{3, 4, 5, 6}

Intersection_Update

In [90]:
intersection_update_set= my_set.intersection_update(my_set2)
print(my_set)

{3, 4, 5, 6}

Difference

In [91]:
my_set={1,2,3,4,5}
my_set2={3,4,5,6,7}
Diffrence_set= my_set.difference(my_set2)
print(Diffrence_set)

{1, 2}

Difference_update

In [92]:
Diffrence_set= my_set.difference_update(my_set2)
print(my_set)

{1, 2}

Symmetric Difference

In [93]:
my_set={1,2,3,4,5}
my_set2={3,4,5,6,7}
Sym_Diffrence_set= my_set.symmetric_difference(my_set2)
print(Sym_Diffrence_set)

{1, 2, 6, 7}

# Set Method
#is subset?

In [ ]:
my_set={1,2,3,4,5,6,7}
my_set2={3,4,5,6,7}
subset_set=my_set2.issubset(my_set)
if subset_set==True:
    print("Yes")
else:
    print("No")

Super set

In [ ]:
super_set=my_set.issuperset(my_set2)
if super_set==True:
    print("Yes Super set")
else:
    print("Not super set")

counting unique words is text

In [98]:
text="we are learning set operation"
word=text.split()
print(type(word)) ## it is in 'List'
unique_words=set(word) ##now it has converted to 'Set'
print(unique_words)
print(len(unique_words))

<class 'list'>
{'we', 'are', 'operation', 'set', 'learning'}
5

# Dictionary
Create Empty Dictionary

In [99]:
empty_dic={}
print(type(empty_dic))

<class 'dict'>

In [100]:
empty_dic=dict()
print(type(empty_dic))

<class 'dict'>

 Single keys is always used

In [101]:
student={"Name": "Istiak", "Age":24, "grade":16}
print(student)
print(type(student))

{'Name': 'Istiak', 'Age': 24, 'grade': 16}
<class 'dict'>

Accessing dictionary Elements

In [104]:
student={"Name": "Istiak", "Age":24, "Grade":'A'}
print(f"Grade: {student["Grade"]}")
print(f"Age: {student["Age"]}")

Grade: A
Age: 24

Accessing using method

In [105]:
print(student.get('Age'))
print(student.get('last_name', "Not Available"))

24
Not Available

Dictionary is Mutable, so you can add, update, and delete elements

In [ ]:
student={"Name": "Istiak", "Age":24, "Grade":'A'}
print(student)
student["Age"]=26 ##Updated the value
print(student)

{'Name': 'Istiak', 'Age': 24, 'Grade': 'A'}
{'Name': 'Istiak', 'Age': 26, 'Grade': 'A'}

In [111]:
student["Address"]="Bangladesh" ##Added a new key & value
print(student)

{'Name': 'Istiak', 'Age': 26, 'Grade': 'A', 'Address': 'Bangladesh'}

In [112]:
del student["Grade"] ##Delete keys and value pair
print(student)

{'Name': 'Istiak', 'Age': 26, 'Address': 'Bangladesh'}

Common Dectionary Methods

In [ ]:
student={"Name": "Istiak", "Age":24, "Grade":'A'}
keys=student.keys() # it will stoire all the keys of student dic
print(keys)

dict_keys(['Name', 'Age', 'Grade'])
<class 'dict_keys'>

In [118]:
values=student.values() #it will store all the values of student dic
print(values)

dict_values(['Istiak', 24, 'A'])

In [119]:
items=student.items() #it will store all value pairs of student Dic
print(items)

dict_items([('Name', 'Istiak'), ('Age', 24), ('Grade', 'A')])

Shallow Copy Very very Important

In [121]:
student={"Name": "Istiak", "Age":24, "Grade":'A'}
student_copy=student
print(student)
print(student_copy)

student["Name"]="Istiak2"
print(student)
print(student_copy)

student_copy1=student.copy() ##Shallow Copy
student["Name"]="Istiak"
print(student)
print(student_copy1)

{'Name': 'Istiak', 'Age': 24, 'Grade': 'A'}
{'Name': 'Istiak', 'Age': 24, 'Grade': 'A'}
{'Name': 'Istiak2', 'Age': 24, 'Grade': 'A'}
{'Name': 'Istiak2', 'Age': 24, 'Grade': 'A'}
{'Name': 'Istiak', 'Age': 24, 'Grade': 'A'}
{'Name': 'Istiak2', 'Age': 24, 'Grade': 'A'}

#We can use loops to iterate over dictionaries, Keys, values, or items

iterating over keys

In [125]:
student={"Name": "Istiak", "Age":24, "Grade":'A'}
for i in student.keys():
    print(f"Keys: {i}")

Keys: Name
Keys: Age
Keys: Grade

iterating over values

In [126]:
for i in student.values():
    print(f"Values: {i}")

Values: Istiak
Values: 24
Values: A

iterating over key, Value pair (Items)

In [130]:
print()
for key,values in student.items():
    print(f"{key}: {values}")

Name: Istiak
Age: 24
Grade: A

Nested Dictionaries

In [134]:
students={
    "student1":{"Name":"Istiak", "Age" : 24},
    "student2":{"Name":"Mondol", "Age" : 25},
    "student3":{"Name":"Nayem", "Age" : 26}
}
print(students["student1"]["Name"])
print(students["student1"]["Age"])
print()
print(students["student3"]["Name"])
print(students["student3"]["Age"])

Istiak
24

Nayem
26

Iterating over nested dictionaries using loops

In [135]:
for student_id,student_info in students.items():
    print(f"{student_id}: ")
    for name,age in student_info.items():
        print(name,":",age)

student1:
Name : Istiak
Age : 24
student2:
Name : Mondol
Age : 25
student3:
Name : Nayem
Age : 26

Dictionary Comprehension

In [136]:
squares={x:x**2 for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Conditional Dictionary Comprehension

In [ ]:
squares={i:i**2 for i in range(11) if i%2==0}
print(squares)

use a dictionary to count the frequency of elements in list

In [ ]:
number=[1,2,2,3,3,3,4,4,4,4]
freq={}
for i in number:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

<class 'dict'>
{1: 1, 2: 2, 3: 3, 4: 4}

#Merge two dictionaries

In [ ]:
dic1={"a":1, "b":2}
dic2={"b":3,"c":4}
merged_dic={**dic1,**dic2}
print(merged_dic)