In [2]:
print ("Hello World")

Hello World

In [ ]:
## this is the single line comment
''' 
    Welcome to this
    new course
'''

'\nWelcome to this\nnew course\n'

In [ ]:
## Case sensitivity

name="Istiak"
Name="Nayem"

print(name)
print(Name)

Istiak
Nayem

In [ ]:
## Indentation

age=33
if(age==32):
    print(age)
else:
    print("false")

false

In [9]:
## line continuation
total=1+2+3+4+5+6+\
5+6+7

print(total)

39

In [12]:
## Multiple statement in a single line

x=5;y=10;z=x+y

print(z)

15

In [15]:
## type inference

variable=10
print(type(variable))
variable="name"
print(type(variable))
variable='b'
print(type(variable))

<class 'int'>
<class 'str'>
<class 'str'>

In [16]:
## code example of indentation
if True:
    print("correct indentation")
    if False:
        print("Printing for false")
    print("inside of the parent if")
print("global print")

correct indentation
inside of the parent if
global print

In [3]:
##Declaring and assigning Variablea
age=25
height=5.7
name="Istiak"
is_student=True
##printing the variables
print("Age: ",age)
print("Height: ",height)
print("Name: ",name)
print("Student: ",is_student)

Age:  25
Height:  5.7
Name:  Istiak
Student:  True

In [13]:
##Type checking and Conversion
type(height)
##type conversion
age=25
print("Age is: ",age)
print("The type of age variable is: ", type(age))
age_str=str(age)
print("The type of age_str variable is: ", type(age_str), age)
##type conversion
age_new='25'
print(type(int(age_new)),age_new)

Age is:  25
The type of age variable is:  <class 'int'>
The type of age_str variable is:  <class 'str'> 25
<class 'int'> 25

In [18]:
##Dynamic Typing
var=10
print(var, type(var))
var="hello"
print(var, type(var))
var=10.5
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
10.5 <class 'float'>

In [ ]:
## input
age=input("What is the age of that person:")
print("input thaken as ",type(age))
age=int(age)
print("the age is: ",age ,"it is after type conversion",type(age))

input thaken as  <class 'str'>
the age is:  25 it is after type conversion <class 'int'>

In [ ]:
## Arithmathic Operator
a=11
b=5
add_result=(a+b)
sub_result=(a-b)
mul_result=(a*b)
div_result=(a/b)
mod_result=(a%b)
floor_div_result=(a//b)
exponent_result=(a**b)

print("Add Result is: ",add_result)
print("Sub Result is: ",sub_result)
print("Mul Result is: ",mul_result)
print("Div Result is: ",div_result)
print("Mod Result is: ",mod_result)
print("Floor  is: ",floor_div_result)
print("Exponent Result is: ",exponent_result)

## (==) Comparison Operator
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

if(a==b):
    print("both are equal")
else:
    print("The numbers are: ")
    print("a = ",a,"b =",b)

## (==)Comparison Operator
name1="Istiak"
name2="istiak"##case sensative
name1==name2

## (!=)Comparison Operator
name1="Istiak"
name2="istiak"##case sensative
name1!=name2

## (>) greater than Comparison Operator
a=25
b=23
if a>b:
    print(a,"is grater then",b)
else:
    print(b,"is grater then",a)

## (<) Less than Comparison Operator
a=21
b=23
if a<b:
    print(a,"is less then",b)
else:
    print(b,"is less then",a)


## (>=) greater than equal Comparison Operator
a=21
b=23
if a>=b:
    print(a,"is greater than or equal then",b)
else:
    print(b,"is greater than or equal then",a)

## (>=) less than equal Comparison Operator
a=21
b=23
if a<=b:
    print(a,"is less than or equal then",b)
else:
    print(b,"is less than or equal then",a)


## And operator
a=10
b=12
if(a==10 and b==12):
    print(True)
else:
    print(False)
    
## Or operator
a=10
b=12
if(a==10 or b==12):
    print(True)
else:
    print(False)

True

In [ ]:
## if, elif, & else Conditional Statements
age=20
if age>=18:
    print("you are eligible for this 18+ content")
elif age<18:
    print("you are not allowed for this content")
else:
    print("Try Again...")

you are eligable for this 18+ content

In [ ]:

##Nested condition
##Leap year example
year=int(input("enter a year: "))
if year % 4 == 0:
    if (year % 100==0) and (year % 400 == 0):
        print(year,"is leap year")
    elif (year%100==0) and (year%400!=0):
        print(year,"is not leap year")
    else:
        print(year,"is leap year")
else:
    print(year,"is not leap year")

2024 is leap year

## Loops
## For Loop
    -iterating over a range
    -iterating over a string
## While Loop

In [ ]:
## for loop
for i in range(1,6):
    print(i)
print("Finish")

## For Loop
for i in range(10,1,-2):
    print(i)
print("Finish")

## For Loop
str="Istiak Mondol"
for i in str:
    print(i)

In [ ]:
## While Loop
i=1
while(i!=10):
    print(i)
    i=i+1
print("Finished")

##While Loop
i=0
while (i%2==0):
    print(i,"is an Even Number")
    i=i+1
    if i%2==1:
        if i==11:
            break
        else:
            print(i,"is an odd Number")
            i=i+1
print("Finished")

## Nested Loop
str="Istiak Mondol"
for i in range (2):
    for j in str:
        print(f"i: {i} and j: {j}")
        if j=='l':
            print("\n")

i: 0 and j: I
i: 0 and j: s
i: 0 and j: t
i: 0 and j: i
i: 0 and j: a
i: 0 and j: k
i: 0 and j:
i: 0 and j: M
i: 0 and j: o
i: 0 and j: n
i: 0 and j: d
i: 0 and j: o
i: 0 and j: l


i: 1 and j: I
i: 1 and j: s
i: 1 and j: t
i: 1 and j: i
i: 1 and j: a
i: 1 and j: k
i: 1 and j:
i: 1 and j: M
i: 1 and j: o
i: 1 and j: n
i: 1 and j: d
i: 1 and j: o
i: 1 and j: l

In [ ]:
##sample calculator
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))

operation=int(input("Select operation 1) add 2) sub 3) mul. 4) div"))
if operation==1:
    print("result is: ",num1+num2)
elif operation==2:
    print("result is: ",num1-num2)
elif operation==3:
    print("result is: ",num1*num2)
else:
    print("result is: ",num1/num2)

result is:  15.5

In [ ]:
## Basic Data Types
'''
Integer
string
float
boolean
'''

## Advance Data Types
'''
List
Tuples
Sets
Dictionaries
'''

In [43]:
## Booleans
a=10
b=12
print(a==b)
print(type(a==b))

False
<class 'bool'>