In [2]:
print ("Hello World")

Hello World

In [ ]:
## this is the single line comment
''' 
    Welcome to this
    new course
'''

'\nWelcome to this\nnew course\n'

In [ ]:
## Case sensitivity

name="Istiak"
Name="Nayem"

print(name)
print(Name)

Istiak
Nayem

In [ ]:
## Indentation

age=33
if(age==32):
    print(age)
else:
    print("false")

false

In [9]:
## line continuation
total=1+2+3+4+5+6+\
5+6+7

print(total)

39

In [12]:
## Multiple statement in a single line

x=5;y=10;z=x+y

print(z)

15

In [15]:
## type inference

variable=10
print(type(variable))
variable="name"
print(type(variable))
variable='b'
print(type(variable))

<class 'int'>
<class 'str'>
<class 'str'>

In [16]:
## code example of indentation
if True:
    print("correct indentation")
    if False:
        print("Printing for false")
    print("inside of the parent if")
print("global print")

correct indentation
inside of the parent if
global print

In [3]:
##Declaring and assigning Variablea
age=25
height=5.7
name="Istiak"
is_student=True
##printing the variables
print("Age: ",age)
print("Height: ",height)
print("Name: ",name)
print("Student: ",is_student)

Age:  25
Height:  5.7
Name:  Istiak
Student:  True

In [13]:
##Type checking and Conversion
type(height)
##type conversion
age=25
print("Age is: ",age)
print("The type of age variable is: ", type(age))
age_str=str(age)
print("The type of age_str variable is: ", type(age_str), age)
##type conversion
age_new='25'
print(type(int(age_new)),age_new)

Age is:  25
The type of age variable is:  <class 'int'>
The type of age_str variable is:  <class 'str'> 25
<class 'int'> 25

In [18]:
##Dynamic Typing
var=10
print(var, type(var))
var="hello"
print(var, type(var))
var=10.5
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
10.5 <class 'float'>

In [ ]:
## input
age=input("What is the age of that person:")
print("input thaken as ",type(age))
age=int(age)
print("the age is: ",age ,"it is after type conversion",type(age))

input thaken as  <class 'str'>
the age is:  25 it is after type conversion <class 'int'>

In [ ]:
##sample calculator
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))

operation=int(input("Select operation 1) add 2) sub 3) mul. 4) div"))
if operation==1:
    print("result is: ",num1+num2)
elif operation==2:
    print("result is: ",num1-num2)
elif operation==3:
    print("result is: ",num1*num2)
else:
    print("result is: ",num1/num2)

result is:  15.5

In [ ]:
## Basic Data Types
'''
Integer
string
float
boolean
'''

## Advance Data Types
'''
List
Tuples
Sets
Dictionaries
'''

In [3]:
## Booleans
a=10
b=12
print(a==b)
print(type(a==b))

False
<class 'bool'>